{% from "form_helper.html" import displayField %}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}search page {% endblock %}

{% block content %}


{% with messages = get_flashed_messages() %}
        {% if messages %}

    {% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    {{message}}
</div>

    {% endfor %}

        {% endif %}
     {% endwith %}



<h2>Search Book Database</h2>



<form action={{ url_for('search_results') }} method="POST">




    <div class="col-xs-3">
        <p>
            <!--<input type="number" name="isbn" placeholder="Enter isbn number of book" /><br />-->
            <input type="text" class="form-control" name="title" placeholder="Enter title of book" />
            <!--<input type="text" name="author" placeholder="Enter author name" /><br />
            <input type="text" name="year" placeholder="Enter publication year" /><br />-->
        </p>
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
</form>
<div>
    <a href={{url_for('logout') }}>logout</a>
</div>

{% endblock %}
